.banner_part {
  height: 810px;
}
.imgIndex {
  height: 800px;
}
.inputform {
  border: none !important;
  background-color: RGB(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.use_sasu {
  margin-top: 100px;
}

.banner_part .banner_text .banner_text_iner {
  padding-top: 150px;
  vertical-align: unset;
}

.signupform {
  margin-top: 160px;
  width: 40px;
}

.single-input {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 20px;
  border-style: none;
}

.signupBtn {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  height: 20px;
}

.banner_part {
  height: 800px;
}

.landing {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  width: 40%;
}

.inputform {
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .logo {
    max-width: 100px;
    padding: 2px;
  }
}

.section_tittle p {
  text-transform: none;
}

.text-center {
  text-align: center !important;
}

.api-title {
  text-align: center !important;
}

.inputFileForm {
  height: 400px;
}
.custom-file-upload {
  border: none;
}

.group-social-button {
  width: 100%;
  display: inline-flex;
}

.signupform {
  margin-top: 160px;
  width: 40px;
}

.signupBtn {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  height: 50px;
  padding: 5px;
}

.logo {
  width: 150px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 576px) {
  .logo {
    max-width: 100px;
    padding: 2px;
  }
}

.signUp-direct {
  margin-top: 20px;
  text-align: center;
}

.mt-10 {
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
  text-align: center;
  color: #8a8787b7;
}
.input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 18.5px 33px;

  background-color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;

  background-size: 200% auto;
  color: #fff;

  background-color: transparent;
}

/* forgot password page */
.img-lock {
  content: url("../img/lock-forgotpassword.png");
  height: 30%;
  width: 30%;
}

.forgotPasswordArea > .inputform {
  border: 0px !important;
  padding: 10px !important;
}

.backBtn {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  height: 50px;
  padding: 0.001px;
}

button.btn_2.banner_btn_2.backBtn > a {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

button.btn_2.banner_btn_2.backBtn > a > span {
  display: table-cell;
  vertical-align: middle;
}

.forgotPasswordArea .group-social-button {
  margin-top: 20px !important;
}

/* verified password page */
.img-verified {
  content: url("../img/verified_icon.png");
  height: 30%;
  width: 30%;
}

/* change new password page */
.img-smile {
  content: url("../img/smile_icon.png");
  height: 30%;
  width: 30%;
}

/* user info page */
h2[class="userInfo"] {
  font-size: 50px !important;
}

.userInfo .breadcrumb_iner.text-center {
  height: 500px !important;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 100px;
}

.saveInfo {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  height: 50px;
  padding: 5px;
}

.userInfo div[class="formElement"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.userInfo .single-input {
  border-radius: 20px;
}

.passwordTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal {
  top: 150px;
}
.modal-header {
  background: #33b5e5;
}
