<div id="colorlib-notfound">
    <div class="colorlib-notfound">
        <div class="colorlib-notfound-404">
            <h1 class="colorlib-heading">OOPS</h1>
        </div>
        <h2>{{message}} </h2>
        <p id="colorlib_404_customizer_content"> Something has happen. Your app doesnt
            work correctly.<a href="/" id="colorlib_404_customizer_button_text">
                Return your homepage</a>
        </p>
    </div>
</div>