<!--Modal: modalPush-->
<div class="modal fade  {{#if message}}show{{/if}}" id="modalPush" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" {{#if message}} style="display:block" {{/if}}>
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Message</p>
            </div>
            <!--Body-->
            <div class="modal-body">
                <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                <p>{{message}}</p>
            </div>
            <!--Footer-->
            <div class="modal-footer flex-center">
                <button type="button" class="btn btn_1"><a href="/profile" style="color:white">Yes</a></button>
                <button type="button" class="closeModalBtn btn btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->
{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}

<section class="breadcrumb breadcrumb_bg userInfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="userInfo">Validate OTP Code</h2>
                        <form method="POST">
                            <div class="formElement">

                                <input name="code" type="text" placeholder="Type your code here"
                                    onfocus="this.placeholder = 'Type your code here'"
                                    onblur="this.placeholder = 'Type your code here'" required class="single-input">
                            </div>
                            <div class="formElement">
                                <button type="submit" class="btn_2 banner_btn_2 saveInfo" placeholder="Save"
                                    value="">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

{{>footer}}